body {
margin: 70px;
color:white
background-color:black;
}

section {
font-size:18px;
font-weight:bold;
}

img {
width:70px
}

info {
font-style: italic;
}

back {
font-style: italic;
font-size:14px;
color:LightSteelBlue;
}
