body {
margin: 70px;
color:black;
}

section {
font-size:20px;
font-weight:bold;
}

img {
width:50px;
}

info {
font-style: italic;
}

back {
font-style: italic;
font-size:14px;
color:lightsteelblue;
}
